Solve the following Questions

1. https://pythonbasics.org/pandas-dataframe/

1.1 https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/

2. https://www.tutorialspoint.com/python_pandas/python_pandas_dataframe.htm
3.  https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/   (different sources)

# Website 1 Practice

#### Creating n x 1 Dataframe from List
The following code creates an n x 1 dataframe from a list containing n elements.

In [3]:
import pandas as pd

fruits = ["Banana", "Apple", "Guava", "Straw berry"]
fruits_df = pd.DataFrame(fruits)

print(fruits_df)

             0
0       Banana
1        Apple
2        Guava
3  Straw berry

### Creating m x n Dataframe from List
The following code creates an m x n dataframe from a list of m lists each of length n

In [10]:
import pandas as pd

grades = [["Anna Tetteh", 88, "B2"], ["Eugene Stark", 54, "D7"], ["Helen Troy", 100, "A1+"], ["Bruce Banner", 92, "A1"]]
column_labels = ["Name", "Score", "Grade"]
grades_df = pd.DataFrame(grades, columns=column_labels)
print(grades_df)

           Name  Score Grade
0   Anna Tetteh     88    B2
1  Eugene Stark     54    D7
2    Helen Troy    100   A1+
3  Bruce Banner     92    A1

### Selecting column from a DataFrame by column name
The following code selects the Name column from the grades_df DataFrame we created in the previous cell.

In [15]:
names = grades_df["Name"]
print(names)

0     Anna Tetteh
1    Eugene Stark
2      Helen Troy
3    Bruce Banner
Name: Name, dtype: object

### Adding columns to an existing DataFrame
The following code adds a column from a newly created DataFrame to an existing DataFrame.

In [17]:
# Grades_df before addition of DataFrame
print("----------------Before------------------")
print(grades_df)

new_df = pd.DataFrame(["Information Technology", "Computer Science", "Computer Engineering", "Business"], columns=["Course"]) # New DataFrame
grades_df["Course"] = new_df["Course"]

# Grades_df after addition of DataFrame
print("-----------------After-------------------")
print(grades_df)

----------------
           Name  Score Grade                  Course
0   Anna Tetteh     88    B2  Information Technology
1  Eugene Stark     54    D7        Computer Science
2    Helen Troy    100   A1+    Computer Engineering
3  Bruce Banner     92    A1                Business
           Name  Score Grade                  Course
0   Anna Tetteh     88    B2  Information Technology
1  Eugene Stark     54    D7        Computer Science
2    Helen Troy    100   A1+    Computer Engineering
3  Bruce Banner     92    A1                Business

In [ ]:
Bef